# 忽略IDE生成的文件
/.idea/
!.idea/icon.png
/*.iml
/target/
/.xcodemap/

# 忽略构建工具生成的文件
/build/
/out/

# 忽略日志和临时文件
/logs/
/temp/

# 忽略环境配置文件
/application.properties
/application.yml

# 忽略本地配置文件
.local
.env

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

/run/
/run-data/

/src/test/yy.http